name: Build
on:
  push:
    branches:
    - release/[0-9]+.[0-9]+
  workflow_dispatch:

concurrency: build

permissions:
  packages: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        name: Checkout
        with:
          fetch-depth: 0

      - uses: ./.github/actions/build-android/
        name: Build - Android
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  github-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        name: Checkout
        with:
          fetch-depth: 0

      - uses: ./.github/actions/create-release/
        name: GitHub Release
